body {
    background: black;
    margin: 0;
    padding: 0;
    color: black;
    font-family:'Times New Roman', Times, serif;
}

header .title-box.title {
    text-align: center;
    margin: auto;
    width: auto;
    background: navy;
    font-size: 400%;
    color: rgb(221, 2, 221);
} 

.image-box {
    margin: 10px;
    height: 400px;
    background-size: 100%;
    background-position: center;
    padding: 20px;
    text-align: center;
}

.image-box.main {
    background-image: url("images/Mall.jpg");
}

.image-box.items {
    background-image: url("images/OpenShop.jpg");
}

.image-box.checkout {
    background-image: url("images/Paying.jpg");
}


ul {
    background: rgba(0, 0, 139, 0.488);
    margin: 0;
    padding: 20px;
    list-style-type: none;
}

.feature-box {
    /* padding: 20px; */
    display: flex;
    flex-direction: row;
}

.feature-box.welcome{
    background: rgb(125, 125, 255);
    color: purple;
    margin: auto;
    font-size: 175%;
}

.feature-box.description {
    background: skyblue;
    color: purple;
    margin: auto;
    font-size: 125%;
}

li {
    display: inline-block;
    margin: 10px 20px 0 10px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

div {
    text-align: center;
    margin: auto;
    width: auto;  
}

p {
    text-align: center;
    margin: auto;
    width: auto;
}

footer {
    background: black;
    padding: 10px 20px;
    color: white;
}
