body {
    background: black;
    margin: 0;
    padding: 0;
    color: black;
    font-family:'Times New Roman', Times, serif;
}

.title-box {
    text-align: center;
    margin: auto;
    width: auto;
}

.title-box.login {
    background: white;
    font-size: 300%;
    color: black;
    margin: 20px;
}

header .title-box.title {
    background: navy;
    font-size: 400%;
    color: rgb(221, 2, 221);
} 

.image-box {
    margin: 10px;
    height: 400px;
    background-size: 100%;
    background-position: center;
    padding: 20px;
    background-repeat: no-repeat;
    text-align: center;
}

.item-box {
    margin: 100px 400px 100px 400px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.image-box.main {
    background-image: url("images/Mall.jpg");
}

.image-box.items {
    background-image: url("images/OpenShop.jpg");
}

.item-box.item1 {
    background-image: url("images/Computer.jpg");
}

.item-box.item2 {
    background-image: url("images/Mug.jpg");
}

.item-box.item3 {
    background-image: url("images/Sunglasses.jpg");
}

.item-box.item4 {
    background-image: url("images/Wristband.jpg");
}

.item-box.item5 {
    background-image: url("images/WaterBottle.jpg");
}

.item-box.item6 {
    background-image: url("images/PrivateJet.jpg");
}

.image-box.checkout {
    background-image: url("images/Paying.jpg");
}

.image-box.login {
    background-image: url("images/login.jpg");
}

button {
    text-align: center;
    margin: auto;
    width: auto;
}

.cardName {
    width: 300px;
    height: 20px;
}

ul {
    background: rgba(0, 0, 139, 0.488);
    margin: 0;
    padding: 20px;
    list-style-type: none;
}

.feature-box {
    /* padding: 20px; */
    display: flex;
    flex-direction: row;
}

.feature-box.welcome{
    background: rgb(125, 125, 255);
    color: purple;
    margin: auto;
    font-size: 175%;
}

.feature-box.description {
    background: skyblue;
    color: purple;
    margin: auto;
    font-size: 125%;
}

.feature-box.login{
    margin: auto;
}

.link-box.links {
    display: inline-block;
    margin: 10px 20px 0 10px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

div {
    text-align: center;
    margin: auto;
    width: auto;  
}

footer {
    background: white;
    margin: 0;
    padding: 0;
    color: black;
    font-family:'Times New Roman', Times, serif;
}

.text-box{
    background: white;
}

.credit
{
    width: 300px;
    height: 20px;
}

.expiration{
    width: 75px;
    height: 20px;
    margin-bottom: 20px;
}

.security{
    width: 160px;
    height: 20px;
    margin-bottom: 20px;
}

.password{
    width: 200px;
    text-align: center;
    margin-bottom: 20px;
    height: 20px;
}

.username {
    text-align: center;
    height: 20px;
    width: 200px;
}

p {
    text-align: center;
    margin: auto;
    width: auto;
}

footer {
    background: black;
    padding: 10px 20px;
    color: white;
}
